doctype html
html(lang="en")
    head
        base(href=httpRoot)

        block meta
            include meta.pug

        block styles
            //link(href=require("main.css") rel="stylesheet")


    body
        block content

        block scripts
            //script
            //    | if (window.navigator.userAgent.indexOf("Trident/") > 0) {
            //    |   var s = document.createElement("script");
            //    |   s.src = "!{require("es6-shim.min.js")}";
            //    |   document.head.appendChild(s);
            //    | }
            //script(src=require("runtime.js"))
            //script(src=require("vendor.js"))
            //script(src=require("main.js"))
